<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Product size" });
     });
  </script>
<% end %>
<h2 class="text-center">New Product Size</h2>

<%= render 'form', product_size: @product_size %>
