<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Product Size Chart" });
     });
  </script>
<% end %>
<h2 class="text-center">New Product Size Chart</h2>

<%= render 'form', product_size_chart: @product_size_chart %>